@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

/* FUNCTIONS */

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem;
}

/* FUNCTIONS */

/* MAIN-POSTS */

.main-posts {
    width: 100%;
    height: auto;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .inner-main-posts {
        display: flex;
        justify-content: space-between;
        margin: 136px 104px 192px 104px;

        .main-posts-right {

            .main-post-details {

                .post-info {
                    display: flex;
                    gap: pxToRem(20px);
    
                    font-size: pxToRem(16px);
                    line-height: 120%;
    
                    color: #FFFFFF;

                    .category {

                        a {
                            text-decoration: none;
                            transition: 0.3s;
                            color: #FFFFFF;
                        }

                        a:hover {
                            color: #cfcfcf;
                        }
                    }
                }
    
                .article-title {
                    font-size: pxToRem(62px);
                    line-height: 120%;
    
                    color: #FFFFFF;
    
                    width: 677px;

                    a {
                        text-decoration: none;
                        transition: 0.3s;
                        color: #FFFFFF;
                    }

                    a:hover {
                        color: #cfcfcf;
                    }
                }
            }
        }
        .post-bottom {
            margin-top: 114px;

            .author-wrapper {
                display: flex;
                gap: 16px;

                p {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 120%;

                    color: #FFFFFF;
                }
            }
        }
    }
}

/* MAIN-POSTS */

/* ARTICLE CONTENT */

.article-content {
    margin: 71px 208px 63px 208px;

    .article-image {
        width: 100%;
    }

    .article-paragraph {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #515151;
    }
}

/* ARTICLE CONTENT */

/* COMMENTS */

.comment-section {
    margin: 71px 208px 63px 208px;
    .comment-input-wrapper {
        display: flex;
        gap: 24px;
        
        .user-icon {
            height: 46px;
        }

        .comment-form {
            display: flex;
            flex-direction: column;

            textarea {
                padding: 10px 10px;
                border-style: none; 
                border: 1px solid #E1E1E1;
                border-radius: 8px;
                resize: none;
                width: 1400px;
                height: 164px;
                outline: none;
            }

            .submit-comment {
                margin-top: 34.5px;
                width: 160px;
                padding: 18.5px 19px 18.5px 19px;
            }
            
        }
    }

    .comment-wrapper {
        margin-top: 56px;
        
        .comment-item {
            display: flex;
            gap: 17px;

            .user-icon {
                height: 46px;
            }

            .comment-item-content {

                .comment-upper {
                    display: flex;
                    gap: 16px;

                    .username {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 120%;

                        color: #11142D;
                    }

                    .posttime {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 120%;

                        color: #9A9AB0;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 16px;

                    color: #515151;
                }
            }
            
        }
    }
}

/* COMMENTS */

/* RELATED NEWS */

.related-posts {
    margin: 120px 104px 154px 104px;

    .related-news-top {
        display: flex;
        margin-bottom: 56px;
        text-align: center;

        .related-title {
            font-size: 31px;
            margin: 0;

            color: #11142D;
        }

        .all-btn {
            margin-left: auto;
        }
    }

    .related-news-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 53px;

        .related-news-item {
            width: 296px;
            height: 534px;
    
            .inner-img {
                position: relative;
                
                img {
                    width: 296px;
                    height: 312px;
                    object-fit:cover;
                }
    
                .category-wrapper {
                    background: #FFFFFF;
                    position: absolute;
                    width: 76px;
                    height: 40px;
                    text-align: center;
                    bottom: 0;
                    left: 0;
    
                    .news-category {
                        font-size: 12px;
                        line-height: 110%;
                    
                        color: #9A9AB0;
                    }
                }
            }
    
            .news-details {
                margin: 16px;
                
                .news-title {
                    margin-top: 16px;
                    margin-bottom: 0;
                    font-size: 24px;
                    line-height: 120%;
        
                    color: #333333;
                }
        
                .news-bottom {
                    margin-top: 74px;
                    display: flex;
                    gap: 30px;
        
                    font-size: 12px;
                    line-height: 110%;
        
                    color: #9A9AB0;
        
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

